# Kafka Connection
KAFKA_BOOTSTRAP_SERVERS=32.198.108.214:30022
KAFKA_TOPICS=Product
KAFKA_GROUP_ID=my-python-consumer-group

# Security Protocol: SASL_PLAINTEXT, PLAINTEXT, SASL_SSL, SSL
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN

# Credentials
KAFKA_USERNAME=admin
KAFKA_PASSWORD=adminpassword

# Offsets & Commit
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_ENABLE_AUTO_COMMIT=true

# Kubernetes Health Server
HEALTH_ENABLED=true
HEALTH_HOST=0.0.0.0
HEALTH_PORT=8080

# Logging
LOG_LEVEL=INFO
